<h1>Parseador CNAB</h1>

<%= form_with url: parse_cnab_path, method: :post, class: 'upload-btn-wrapper' do |f| %>
  <%# <button class="btn">Upload a file</button> %>
  <div class="btn">
    <%= f.file_field :file, accept: '.txt, text' %>
  </div>
  <%= f.submit 'Carregar', class: "btn full" %>
<% end %>
