<h1>Parseador CNAB</h1>

<%= form_with url: api_v1_parse_cnab_path, method: :post, class: 'upload-btn-wrapper' do |f| %>
  <%# <button class="btn">Upload a file</button> %>
  <div class="btn">
    <%= f.file_field :file, accept: '.txt, text' %>
  </div>
  <%= f.submit 'Carregar', class: "btn full" %>
<% end %>

<h3>Arquivos CNAB extraídos</h3>
<% @cnabs.each do |cnab| %>
  <p><%= link_to "Arquivo ##{cnab.id}", cnab_file_path(cnab.id) %></p>
<% end %>
